.button{
  height: 65px;
  width: 130px;
  background-color: rgb(43,150,221);
  margin-left: 45%;
  margin-top: 20%;
  border-top:0;
  border-left: 0;
  border-right: 0;
  border-bottom: 6px solid rgb(33,126,186);
  border-radius: 10px;
  color: white;
  outline: none;
  font-size: 18px;
}

.clicked{
  height: 65px;
  width: 130px;
  background-color: rgb(43,150,221);
  margin-left: 45%;
  margin-top: 20%;
  border:0;
  border-radius: 10px;
  color: white;
  outline: none;
  font-size: 18px;
}